@media (max-width: 967px) {
    .flex-column {
        flex-direction: column;
    }
}

.nopadding{
    padding: 0px !important;
    margin: 0px !important;
}
.imgSize
{
    height: auto;
    width: 100%;
}

.textBox
{   text-align: center;
    font-family: openSansSemibold;
    line-height: 22px;
    letter-spacing: 0px;
    font-size: 14px;
}