
.slider-box
{
    padding: 0 60px;
}

.btn{
    padding-top: 10px;
}

.product-images {
    width: 80% ;
    height: auto;
    align-self: center;
}

.product-names{
    height: 36px;
    line-height: 18px;
    text-align: center;
    font-size: 14px;
    font-family: interstateRegular
}

.product-prices{
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    font-family: interstateBold;
}

.slick-arrow {
    top: 5;
    bottom: 5;
    z-index: 9;
    display: inline-block;
    height: auto;
    width: auto;
    margin-bottom: 0;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .slick-arrow:before { display: none; }
  .slick-arrow .arrow-icon {
    position: absolute;
    top: 0;
    height: 100%;
    width: auto;
    opacity: 0;
    -webkit-transition: .5s all ease 0s;
    -moz-transition: .5s all ease 0s;
    -ms-transition: .5s all ease 0s;
    transition: .5s all ease 0s;
  }

  
.slick-prev{
    left: 20;
}

.slick-next{
    right: 20
}

.slick-slide img{
    display: inline;
}

@media(max-width:1024px){
 .slick-arrow{
     display: block !important;
    }
}