.register {
    margin-top: 5%;
    padding: 0 48px;
    margin: 0 auto;
    max-width: 1368px;
}

.register-container {
    margin-top: 3%;
    background-color: #F7F7F7;
    width: 100%;
}

.tncCheckmark {
	background: #3b3c3b;
    padding: 30px 12px;
    margin-top: -4px;
}

.tncCheckmark Label {
	color:#fff;
}

.tncCheckmark p{
	color:#fff;
}
.tncCheckmark a{
	color:#fff;
}

input {
	height: 37px !important; 
}

.addressBtn {
	height: 33px !important;
	font-size: 14px;
}

.width-75 {
	width: 75% !important;
}

p,a {
	font-size: 14px !important;
}
