
.slider-images {
    width: 100%;
    height: auto;
}

.slick-prev{
    left: 20px;
}

.slick-next{
    right: 20px
}

.owl-pagination{
    bottom: 0
}

.slick-dots{
    bottom: 10px;   
}

.slick-dots li button::before{
    font-size: 12px;
    color:white;
    opacity:0.4;
}

.slick-dots li.slick-active button:before{
    color: white;
    opacity:2
}

@media(min-width:1025px){
    .slick-arrow {
        top: 5;
        bottom: 5;
        z-index: 9;
        display: inline-block;
        height: auto;
        width: auto;
        margin-bottom: 0;
        -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    .slick-arrow:before { display: none; }
    .slick-arrow .arrow-icon {
        position: absolute;
        top: 0;
        height: 100%;
        width: auto;
        opacity: 0;
        -webkit-transition: .5s all ease 0s;
        -moz-transition: .5s all ease 0s;
        -ms-transition: .5s all ease 0s;
        transition: .5s all ease 0s;
    }

}

@media(max-width:1024px){
    .slick-arrow{
        display: none !important;
    }

    .slick-arrow .arrow-icon{
        display: none !important;
    }

}