@media(min-width:1025px){
    .text-over-banner{
        margin-top: -12%;
        background: transparent;
    }

    .text-content-2-cf{
        font-size: 15px;
        font-family: openSansSemibold;
        line-height: 20px;
    }
    
}

@media(max-width:1024px){
    .text-over-banner{
        margin-top: -12%;
        background: transparent;
    }

    .text-content-2-cf{
        font-size: 12px;
        font-family: openSansSemibold;
        line-height: 16px;
    }
}

@media(max-width:640px){
    .text-over-banner{
        margin-top: -14%;
        background: transparent;
    }

    .text-content-2-cf{
        font-size: 10px;
        font-family: openSansSemibold;
        line-height: 12px;
    }
}


.text-promo-heading{   
    font-size: 26px;
    font-family: interstateBlackCond;
    line-height: 18px;
    text-align: center;
    padding: 20px 0px;
}

.banner-block-textbox{
    padding: 0% 4%;
    text-align: center;
    position: relative;
    background-color: transparent;
}

.banner-block-text{
    padding: 4% 5%;
    background-color: #ffffff;
}

.block-text-2-small{
    font-size: 14px;
    line-height: 22px;
    font-family: openSansSemibold;
    padding: 0% 10%;
}

.map-button-container{
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.image-with-text-transist{
    position: relative;
}

.image-with-text-transist img{
    width: 100%;
    height: auto;
    cursor: pointer;
}


.image-with-text-transist .transist-contentbox{
    position: absolute;
    bottom: 0%;
    color: transparent;
    background-color: #111111;
    text-align: center;
    width:100%;
    height: 0%;
    transition: height .5s ease;
}

.image-with-text-transist:hover .transist-contentbox{
    height: 50%;
    color: #ffffff;
}

.textbox-alignment{
    padding-top: 10%;
    font-family:InterstateBoldCond;
    letter-spacing: .5px;
}

.text-on-hover-wrapper{
    padding-top: 6%;
    padding-bottom: 5%
}