.main {
    background: #fff;
    position: relative;
}
  
.main-inner {
    padding: 0 48px;
    margin: 0 auto;
    max-width: 1368px;
}
/* *, :after, :before {
    color: #111;
    box-sizing: inherit;
} */

/* .scroll-to-fixed-fixed {
    z-index: 1000;
    position: fixed;
    top: 0px;
    margin-left: 0px;
    width: 1167px;
    left: 48px;
} */

@media (min-width: 1025px) {
    .sticky-header {
        background-color: #fff;
        top: 0;
        padding: 0;
        display: block;
        position: fixed;
        border: 0;
        z-index: 1000;
        width: 100%;
        padding-right: 96px;
        padding-bottom: 11px;
    }
    .sticky-header-mobile {
        display: none;
    }
    .wrapper-global-header-desktop {
        margin: 15px 0 0 0;
        padding: 0;
        vertical-align: top;
        text-align: center;
        display: block;
        position: relative;
    }
    .sticky-header-row {
        display: inline-block;
        position: relative;
        margin: 0;
        padding: 0 0 15px 0;
        width: 100%;
        vertical-align: top;
    }
    .sticky-header-col {
        display: inline-block;
        position: relative;
        margin: 0;
        padding: 0;
        vertical-align: top;
        text-align: left;
        font-size: 12px;
    }
    .sticky-header-col-one {
        width: 43%;
        float: left;
    }
    .sticky-header-col-two {
        width: 26.8%;
        text-align: center;
    }
    .sticky-header-col-three {
        width: 30%;
        text-align: right;
        float: right;
        padding-right: 0;
        border: 1px solid transparent;
    }
    .logo img {
        width: 260px;
        height: 24px;
        margin: 0 auto;
        text-align: center;
    }
    .content {
        display: inline-block;
        position: relative;
        margin: 0;
        padding: 0 15px 0 0;
    }
    .icons {
        height: 24px;
        display: inline-block;
        vertical-align: middle;
        background-repeat: no-repeat;
    }
    .store-finder {
        background: url(../../assets/images/icons/body-shop-icons-thick_map.svg) 0 0 no-repeat;
        width: 17px;
    }
    .tbs-at-home {
        background: url(../../assets/images/icons/body-shop-icons_tbs_at_home.svg) 0 0 no-repeat;
        width: 25px;
    }
    .customer-care {
        background: url(../../assets/images/icons/body-shop-icons-thick_help.svg) 0 0 no-repeat;
        width: 24px;
    }
    .text-store-finder {
        padding: 0 0 0 6px;
        font-family: openSansSemibold;
        cursor: pointer;
    }
    .ulStyle {
        margin: 0;
        padding: 0;
    }
    .headerUserGreeting {
        text-overflow: ellipsis;
        font-family: openSansSemibold;
        white-space: nowrap;
        overflow: hidden;
        width: 115px;
    }
    .my-account {
        background: url(../../assets/images/icons/body-shop-icons-thick_sign_in.svg) 0 0 no-repeat;
        width: 29px;
    }
    .wish-list {
        background: url(../../assets/images/icons/body-shop-icons-thick_wishlist.svg) 0 0 no-repeat;
        width: 31px;
    }
    .mini-basket {
        background: url(../../assets/images/icons/body-shop-icons-thick_bag.svg) 0 0 no-repeat;
        width: 24px;
    }
    .last {
        padding: 0;
    }
    .basket-icon-circle {
        display: block;
    border-radius: 50%;
    width: auto;
    height: 24px;
    background: #111;
    color: #fff;
    position: absolute;
    left: 8px;
    top: 10px;
    padding: 3px 5px 5px 6px;
    text-align: center;
    line-height: 15px;
    border: 2px solid #fff;
    z-index: 12;
    font-size: 10px;
    font-family: openSansSemibold;
    }
    .main-navigation-desktop {
        position: absolute;
        width: 100%;
        left: 0;
        z-index: 12;
    }
    .dynamic-area {
        max-width: 1273px;
        margin: 0 auto;
        padding: 0;
        text-align: left;
    }
    .navigation-container {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .navigation-bar {
        width: 76%;
        display: inline-block;
        margin: 5px 0 0 0;
        padding: 0;
        position: relative;
    }
    ul.main-nav {
        text-align: justify;
        display: block;
        position: relative;
        width: 100%;
        height: 38px;
    }
    .section:first-child {
        text-align: left;
    }
    .section a.menuitem {
        text-decoration: none;
        padding-bottom: 3px;
        border-bottom: 2px solid transparent;
        cursor: pointer;
    }
    .section a.menuitem: hover {
        border-bottom: 2px solid #111111;
    }
    .navigation-bar ul.main-nav li {
        display: inline-block;
        zoom: 1;
        text-align: left;
        letter-spacing: .0625em;
        vertical-align: top;
        font-size: 14px;
    }
    .main-navigation-desktop .section {
        display: table-cell;
        padding: 0;
        font-size: 14px;
        cursor: default;
        text-align: center;
    }
    .main-navigation-desktop .section {
        display: inline;
        font-family: "InterstateBoldCond";
        font-weight: 700;
        padding: 0 20px;
        font-size: 1.143em;
        cursor: default;
    }
    .main-navigation-desktop .section a.menuitem {
        text-decoration: none;
        padding-bottom: 3px;
        border-bottom: 2px solid transparent;
    }
    .main-navigation-desktop .section a.menuitem:hover {
        border-bottom: 2px solid #111;
    }
    .search-toggler {
        text-align: right;
        padding: 0;
        margin: 0;
        text-transform: none;
        position: relative;
        float: right;
    }
    .searchBoxStyle {
        width:200px;
        height:20px !important;
        font-size: 13px;
    }
    .delivery-return-msg-desktop {
        display: block;
        position: relative;
        margin: 45px 0 0 0;
        padding: 3px 0;
        background: #b9ca7d!important;
        text-align: center;
        width: 100%;
        font-size: 12px;
        line-height: 22px;
        font-family: openSansSemibold;
        color: black;
    }
    
    .main-navigation-desktop-bg {
        position: absolute;
        left: 0;
        top: 35px;
        width: 120.7%;
        border-right: 1px solid #e1e1e1;
        background: #f7f7f7;
        box-shadow: 0 6px 7px -3px rgba(0,0,0,.6);
        height: auto;
        padding-bottom: 24px;
    }
    .section-categories {
        
    }
    .section-subcategories {
        display: block;
        border-top: 0 solid #e1e1e1;
        padding: 24px 0;
        max-width: 884px;
        margin: 0 auto;
    }
    .subcategories-container {
        width:100%;
    }
    .subcategories-col {
        float: left;
        width: 65%;
    }
    .category-column {
        width: 33%;
        float: left;
        padding: 0 1%;
    }
    .subcategory a:first-child {
        padding-top: 0;
    }
    .subcategory-link {
        font-weight: 700;
        text-decoration: none;
        padding-bottom: 3px;
        display: block;
        text-transform: uppercase;
        padding-top: 20px;
    }
    .subcategory-item-title {
        color: #2d2d2d;
        font-size: 12px;
        font-family: openSansSemibold;
        text-decoration: none;
        padding-bottom: 3px;
        display: block;
        text-transform: none;
        font-weight: 400;
        overflow: hidden;
        width: 100%;
    }
    .banners-col {
        float: right;
        width: 35%;
    }
    .banners {
        display: block;
        width: 100%;
        position: initial;
        overflow: hidden;
        font-family: "Interstate Black Cond";
        font-weight: 400;
        letter-spacing: .5px;
    }
    .banner-link {
        padding-bottom: 3px;
        text-decoration: none;
        font-size: 1.143em;
        line-height: 1em;
        display: block;
    }
    .banners img {
        display: block;
        width: 100%;
    }
}

@media (min-width: 1200px) {

    .main-navigation-desktop-bg {
        width: 121.6%;
    }
    .sticky-header-col-one {
        width: 43%;
        float: left;
    }
    .sticky-header-col-two {
        width: 26.8%;
        text-align: center;
    }
    .sticky-header-col-three {
        width: 30%;
        text-align: right;
        float: right;
        padding-right: 0;
        border: 1px solid transparent;
    }
}
@media (min-width: 1440px) {
    .sticky-header {
    background-color: #fff;
    top: 0;
    display: block;
    position: fixed;
    border: 0;
    z-index: 1000;
    width: 1368px;
    padding-bottom: 11px;
  }
  .sticky-header-col-one {
    width: 39%;
    float: left;
}
.sticky-header-col-two {
    width: 17.8%;
    text-align: center;
}
.sticky-header-col-three {
    width: 30%;
    text-align: right;
    float: right;
    padding-right: 0;
    border: 1px solid transparent;
}
}

.sticky-header-mobile {
    position: fixed;
    background-color: #fff;
    z-index: 1005;
    width: 100%;
}

@media (max-width: 1024px) {
    .wrapper-global-header-mobile {
        margin: 15px 0 0 0;
        padding: 0;
        vertical-align: top;
        text-align: center;
        display: block;
    }
    .wrapper-global-header-mobile .row {
        display: table;
        position: relative;
        width: 100%;
        vertical-align: top;
        margin: 0;
        padding: 0;
    }
    .wrapper-global-header-mobile .col-header {
        display: table-cell;
        text-align: center;
        margin: 0;
        padding: 0 5px 0 5px;
        vertical-align: top;
    }
    .wrapper-global-header-mobile .icons {
        height: 24px;
        display: inline-block;
    }
    .wrapper-global-header-mobile .mobile-nav {
        background: url(../../assets/images/icons/body-shop-icons-thick_hamburger.svg) 0 0 no-repeat;
        width: 24px;
    }
    .wrapper-global-header-mobile .icon-header-search {
        background: url(../../assets/images/icons/body-shop-icons-thick_spyglass.svg) 0 0 no-repeat;
        vertical-align: top;
        width: 24px;
        background-size: inherit;
    }
    .wrapper-global-header-mobile a {
        text-decoration: none;
        cursor: default;
    }
    .wrapper-global-header-mobile .col-header .logo img {
        width: 152px;
        margin: 5px 0 0 0;
        height: 25px;
    }
    .wrapper-global-header-mobile .store-finder {
        background: url(../../assets/images/icons/body-shop-icons-thick_map.svg) 0 0 no-repeat;
        vertical-align: top;
        width: 24px;
    }
    .wrapper-global-header-mobile .col-header:last-child a {
        position: relative;
    }
    .full-basket {
        background-position: 0 0;
        width: 25px;
        height: 25px;
    }
    .wrapper-global-header-mobile .full-basket .mini-basket {
        background: url(../../assets/images/icons/body-shop-icons-thick_bag.svg) 0 0 no-repeat;
        width: 24px;
    }
    .wrapper-global-header-mobile .basket-icon-circle {
        display: block;
        border-radius: 15px;
        width: 25px;
        height: 25px;
        background: #111;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        left: 5px;
        padding: 3px 5px 5px 6px;
        text-align: center;
        line-height: 15px;
        border: 2px solid #fff;
        z-index: 12;
        font-size: 10px;
        float: right;
        margin: 0;
    }
    .delivery-return-msg-mobile {
        background: #b9ca7d!important;
        font-family: openSansSemibold;
        color: black;
        display: block;
        position: relative;
        margin: 10px 0 0 0;
        padding: 3px 0;
        text-align: center;
        width: 100%;
        font-size: 12px;
        min-height: 28px;
    }
    .sticky-header-mobile-spacer {
        width: 100%;
        height: 87px;
    }
    .main-navigation-desktop {
        display: none;
    }
    .dynamic-area {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
    }
    .sticky-header {
        display: none;
    }
    .main-navigation {
        position: fixed;
        top: 0;
        bottom: 0;
        display: none;
        float: left;
        height: 100%;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        text-transform: uppercase;
        font-family: "Interstate Condensed";
        font-style: normal;
        font-weight: 700;
        text-align: center;
    }
}

@media (max-width: 1024px) and (min-width: 641px) {
    .main-navigation {
        left: -50%;
        width: 50%;
    }
}