.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main {
  background: #fff;
  position: relative;
}

.main-inner {
  padding: 0 48px;
  margin: 0 auto;
  max-width: 1368px;
}
*, :after, :before {
  color: #111;
  box-sizing: inherit;
}